body {
    background-color: rgb(24, 24, 27);
    position: relative;
    padding-bottom: 300px;
}
.back-decoration {
    background-color: rgb(40, 40, 40);
    position: absolute;
    height: 220px;
    top: 400px;
    right: 0;
    left: 10px;
    z-index: -1;
    box-shadow: 5px 5px 15px;
}
.back-decoration-2 {
    background-color: rgb(133, 88, 4);
    position: absolute;
    top: 105px;
    left: 0;
    width: 200px;
    height: 550px;
    z-index: 0;
    box-shadow: 5px 5px 15px;
}
.back-decoration-3 {
    background-color:rgb(99, 108, 30);
    position: absolute;
    height: 100px;
    width: 100px;
    top: 110px;
    left: 280px;
}
.back-decoration-4 {
    background-color: rgb(99, 108, 30);
    height: 100px;
    width: 300px;
    position: absolute;
    top:533px;
    left: 800px;
    z-index: -3;
}
@media (min-width: 1075px) {
    .back-decoration {
        width: 1075px;
    }
}
.end-banner {
    background-color: rgb(99, 108, 30); 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    color: white;
    font-family: roboto, arial;
    font-size: small;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.end {
    margin-bottom: 10px;
}
.copyright {
    margin-top: 20px;
}
